// Mixins!

background(color)
    background-color: color
    background-image: linear-gradient(color, darken(color, 30%))

// Generic Helper Classses

.container 
  position: relative
  padding: 6px

.pin 
  position: absolute

.right
  right: 0
  
.bottom
  bottom: 0

.success 
  color: white
  text-shadow: 0 -1px 0 rgba(0,0,0,0.15)
  background green
  border-color: #5ca941

.center
  margin: auto